.scrabble-canvas {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.canvas-container {
    display: inline-block;
    position: relative;
    width: 696px;
    height: 696px;
}

.rack-input {
    color: black;
}

.rack-input-label {
    color: white;
}

.rack-input-wrapper {
    margin: 10px;
}

.right-section-container {
    display: inline-block;
    vertical-align: top;
}

.results-list-container {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: "Arial", serif;
    font-size: large;
}

.results-list {
    margin: 0;
    padding-left: 0;
    counter-reset: item;
}

.results-list li {
    padding: 3px;
    margin: 3px;
    list-style: none;
}

.results-list li:before {
    content: counter(item)". ";
    counter-increment: item;
}

.results-list li:hover {
    background-color: #45a049;
    cursor: pointer;
}

.results-header {
    margin-top: 0;
    padding: 10px;
}

.submit-button-container {
    margin: 10px;
    text-align: center;
}

.submit-board-button {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
    background-color: #022305;
}